@import "tailwindcss";

@layer utilities {
  @media print {
    body * {
      visibility: hidden;
    }

    .print\:block,
    .print\:block * {
      visibility: visible;
    }

    .print\:block {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    @page {
      size: 80mm auto;
      margin: 0;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}