@import "tailwindcss";

@layer utilities {
  @media print {
    body * {
      visibility: hidden;
    }

    .print\:block,
    .print\:block * {
      visibility: visible;
    }

    .print\:block {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }

    @page {
      size: 80mm auto;
      margin: 0;
    }
  }
}